# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
venv/
env/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
